:root{
    --clr-main: yellow; 
    --clr-black: black;
    --clr-gray: rgb(186, 186, 186);
    --clr-white: white;
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

h1, h2, h3, h4, h5, h6,p, a, input, textarea, ul{
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;    
}

a {
    text-decoration: none;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: var(--clr-main);
}

aside {
    padding: 2rem;
    color: var(--clr-black);
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content:space-between ;
}

.logo{
    font-weight: 400;
    font-size: 1.3;
}

.texto-footer{
    color: var(--clr-black) ;
    font-size: .85rem;
}

main {
    background-color: var(--clr-black);
    margin: 1rem;
    margin-left: 0;
    border-radius: 2rem;
    padding: 2rem;
    
}

.titulo-principal{
    color: var(--clr-main);
    margin-bottom: 2rem;
}

.contenedor-productos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.producto-imagen {
    max-width: 100%;
    border-radius: 1rem;
}
.producto-detalles {
    background-color: var(--clr-main);
    color: var(--clr-black);
    padding: .5rem;
    border-radius: 1rem;
    margin-top: -2rem;
    position: relative;
}